.date-field-wrapper {
  display: inline-block;
  margin-right: 1em;
}

.date-chooser-values {
  display: inline-block;
}

.time-field-wrapper {
  display: inline-block;
  margin-right: 1em;
}

.today {
  margin-right: 5px;
}
