@import "colours_extensions";

fieldset.radio {
  label {
    @extend .block-label;
  }
}

legend {
  @extend .form-label;
  color: black;
}

label .aside {
  display: inline;
}

.error .form-control, .error label + input, .error label + textarea {
  border: 1px solid $grey-2
}
