<div class="form-group">
  <%= f.label :dscc_number, t('dscc_number'), class: 'form-label-bold' %>
  <%= f.text_field :dscc_number, readonly: !@policy.dscc_number_edit?, class: 'text-field text-field-wide' %>
</div>
