<h3><%= t('case_details') %></h3>
<div class="case-details">
  <%= render('defence_requests/form_partials/case_interview_start_time', f: f) %>

  <%= render('defence_requests/form_partials/case_details', f: f) if @policy.case_details_edit? %>

  <%= render('defence_requests/form_partials/case_dscc_number', f: f) if @policy.dscc_number_edit? %>
</div>
