<div class="form-group">
  <%= f.label :solicitor_time_of_arrival, t('solicitor_time_of_arrival') %>
  <fieldset class="inline time-select">
    <%= f.datetime_select :solicitor_time_of_arrival, include_blank: true, class: 'time-select' %>
  </fieldset>
</div>
