<% if check_policy_clause(@policy, :solicitor_time_of_arrival?) %>
  <div class='solicitor-details' <%= "class=hidden" if @defence_request_form.defence_request.new_record? %>>
    <h3><%= t('solicitor_details') %></h3>
    <div class="details">
      <%= render('shared/date_time_form_part', attribute: :solicitor_time_of_arrival, show_label: true, set_default_date: true, f: f) %>
    </div>
  </div>
<% end %>
