<p class="state"><%= dr.state_text.html_safe %></p>
<p class="dscc-number"><%= dr.dscc_number if dr.dscc_number %></p>
<% if dr.interview_start_time %>
  <div class="interview">
    <p class="interview-text">Interview</p>
    <p class="time"><%= dr.interview_start_time.strftime("%H:%M") %></p>
    <p class="date"><%= short_date_formatter(dr.interview_start_time) %></p>
  </div>
<% end %>
