<div class="tabs-nav cf">
  <ul class="tabs">
    <li class="tab <%= tab_class(type: :active) %>">
      <%= link_to t("opened", count: @dashboard.active_defence_requests.count), active_custody_suite_dashboard_path %>
    </li>
    <li class="tab <%= tab_class(type: :closed) %>">
      <%= link_to t("completed", count: @dashboard.closed_defence_requests.count), closed_custody_suite_dashboard_path %>
    </li>
  </ul>
</div>
