<div class="container">
  <form id="form_name" action="MAILTO:Shelley.Cooper@legalaid.gsi.gov.uk,Alex.Masri@legalaid.gsi.gov.uk" method="post" enctype="text/plain">
    <div class="form-group">
      <label for="email_subject">Email Subject</label>
      <input type="text" class="form-control" id="email_subject" placeholder="type your subject here" />
    </div>
    <div class="form-group">
      <label for="email_body">Type your message here</label>
      <textarea id="email_body" class="form-control" placeholder="type your message here" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default" id="mail-link">Submit</button>
  </form>
</div>
