<noscript>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <p>Please enable Javascript for this page to work.</p>
        <ol>
          <li>In browser settings: Preferences &rarr; Show advanced settings &rarr; Content settings &rarr; Radio buttons under JavaScript section</li>
          <li>In developer tools settings: Open Developer Tools &rarr; Click on cogweel icon (right top corner) &rarr; Look for the checkbox in General settings</li>
        </ol>
      </div>
    </div>
  </div>
</noscript>
