<div class="search_box">
  <%= form_tag(solicitors_search_defence_requests_path, remote: true, class: 'solicitor_search') do %>
    <div class="form-group">
      <%= label_tag 'q', t('search'), class: 'form-label-bold' %>
      <p class="form-hint">Search for own solicitor</p>
      <%= text_field_tag 'q', nil, placeholder: t('enter_solicitor_firm_name'), autocomplete: "off", class: "form-control" %>
      <%= submit_tag 'Search', class: 'button' %>
    </div>
  <% end %>
  <div class="">
    <div class="solicitor_results_list">
    </div>
  </div>
</div>
