<h1>Check the request</h1>

<p>Check the details below to make sure they are correct. Update any incorrect details, then submit the request.</p>


<%= form_for @defence_request do |f| %>
    <%= render('defence_requests/form_partials/main', f: f) %>
<% end if @policy.edit? %>
