<%= render 'shared/error_and_flash', object: @defence_request_form  %>

<h1><%= t('edit_defence_request') %></h1>

<%= form_for @defence_request_form, builder: LabellingFormBuilder do |f| %>
  <%= render('defence_requests/form_partials/main', f: f) %>
<% end if @policy.edit? %>
