<%= render 'shared/error_and_flash', object: @defence_request_form  %>

<% if @policy.solicitor_time_of_arrival_from_show? %>
  <div class="time-of-arrival">
    <%= form_for(@defence_request, url: defence_request_solicitor_arrival_time_path, method: :patch) do |f| %>
      <%= render('defence_requests/form_partials/solicitor_time_of_arrival', f: f) if @policy.solicitor_time_of_arrival_from_show? %>
      <%= f.submit(t('arrival_time_save'), class: 'button') %>
    <% end %>
  </div>
<% end %>
