@import "elements/layout";

section {
  clear: left;
}

#page-container {
  @extend %site-width-container;
}

.grid-row {
  overflow: hidden;
  margin-right: 0;
  margin-bottom: 20px;
}

.column-full-width {
  @include grid-column( 1 );
}

.column-three-quarters {
  @include grid-column( 3/4 );
}

.phase-banner {
  margin-bottom: 20px;
}
