ul {
  @extend .list-bullet;
}

dl.labels {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  float: left;
  clear: both;
  dt {
    float: left;
    clear: both;
    margin-right: 0.5em;
    margin-bottom: 0.75em;
    color: $grey-1;
    &:after {
      content: ":";
    }

    &.notify {
      margin-left: -15px;
      border-left: 6px solid $notify;
      padding-left: 9px;
      margin-bottom: 0;
      &:after {
        content: "";
      }
    }
  }
  dd {
    float: left;
    margin-bottom: 0.75em;

    &.notify {
      margin-bottom: 0;
    }

    &.multi-line {
      white-space: pre-line;
      line-height: 1.4em;
    }
  }

  &.inline {
    dt {
      float: none;
      display: inline;
      &:before {
        content: "";
        display: block;
        margin-top: 0.75em;
      }
    }
    dd {
      float: none;
      display: inline;
    }
  }
}

dl.time-at {
  background: $white;
  padding: $gutter-half;
  border: 1px solid $grey-1;
  margin-bottom: 10px;
  display: inline-block;

  &.tba {
    color: #999;
  }

  dt {
    @include core-24();
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    padding-left: $gutter-one-quarter;
  }
  dd {
    @include bold-24();
    display: inline-block;
    padding-right: $gutter-one-quarter;
  }
}

ul.error-summary-list {
  list-style-type: none;
}
