@import "colours_extensions";

.sidebar {
  // trick for making the sidebar background colour full height
  margin-bottom: -1001%;
  padding-bottom: 1001%;
  background-color: $sidebar-background;

  .status {
    margin: 0 -15px;
    padding: 20px;
    border-bottom: 1px solid $grey-3;

    h2 {
      margin: 0;
      padding: 10px 15px 5px;
      @include core-36;

      .time {
        display: block;
        font-size: 28px;
        padding: 15px 0;

        i {
          padding-right: 10px;
        }
      }
    }

    &.status-submitted {
      background-color: $submitted-defence-request-tint;

      h2 {
        border-left: 6px solid $submitted-defence-request;
      }
    }

    &.status-accepted {
      background-color: $accepted-defence-request-tint;

      h2 {
        border-left: 6px solid $accepted-defence-request;
      }
    }

    &.status-completed {
      background-color: $completed-defence-request-tint;

      h2 {
        border-left: 6px solid $completed-defence-request;
      }
    }
  }
}
