<header>
  <h1>Session expired</h1>
</header>
<section>
  <p>
    <strong class="bold-small">Your session expired. Your claim to take back a property has not been completed.</strong>
  </p>
  <p>#{link_to 'Start again', root_path}</p>
</section>
