<header class="page-header group">
  <ul class="breadcrumb">
    <li>#{link_to 'Home', '..'}</li>
  </ul>
  <h1>Help</h1>
</header>
<div class="container">
  <p>Find out about accelerated possession, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.</p>
  <ul class="sections">
    <li>
      <h2>#{link_to 'Accessibility', 'accessibility'}</h2>
      <p>Details of accessibility and help using the internet</p>
    </li>
    <li>
      <h2>#{link_to 'Cookies', 'cookies'}</h2>
      <p>How cookies are used and each cookie's purpose</p>
    </li>
    <li>
      <h2>#{link_to 'Terms and conditions and privacy policy', 'terms'}</h2>
      <p>Information about the service and privacy approach</p>
    </li>
  </ul>
</div>
