<%= link_to "&lt; Back to accepted requests".html_safe, "#" %>

<h1 class="detainee">Robert Kapp</h1>
<h2 class="dscc">DSCC: 1503321B</h2>

<!-- begin notification flash message -->
<div class="flash notify">
  <h3>The following information has been updated</h3>
  <ul>
    <li><a href="#notification1">Address has been added</a></li>
    <li><a href="#notification2">Fit for interview has been updated</a></li>
    <li><a href="#notification3">Comments has been updated</a></li>
  </ul>
</div>
<!-- end notification flash message -->

<section class="detainee-details">
  <dl class="labels">
    <dt>Gender</dt>
    <dd>Male</dd>
    <dt>Date of birth</dt>
    <dd>23 April 1980</dd>
    <dt>Age</dt>
    <dd>35</dd>
    <dt><span class="vulnerable">v</span> Appropriate adult required</dt>
    <dd>Yes because detainee is mentally disturbed</dd>
  </dl>
  <div class="notify-wrapper cf">
    <h3 id="notification1" class="notification">Address has been added</h3>
    <dl class="labels notify">
      <dt>Address</dt>
      <dd class="multi-line">1 Test Road
    Teston
    Testshire
    TE57 1NG</dd>
    </dl>
  </div>
  <dl class="labels">
    <dt><span class="vulnerable">v</span> Interpreter required</dt>
    <dd>Polish</dd>
  </dl>
</section>

<div id="edit-tabs" class="js-tabs cf">
  <div class="tabs-nav">
    <ul class="cf tabs js-tabs-nav js-only">
      <li class="is-active">
        <a href="#interview">Interview</a>
      </li>
      <li>
        <a href="#case-details">Detention details</a>
      </li>
    </ul>
  </div>
  <div class="js-tabs-content">


    <div id="interview">

      <dl class="time-at">
        <dt>Interview at</dt>
        <dd>13:30</dd>
      </dl>

      <form>
        <!-- create with form builder radio_button_fieldset thingy -->
        <div class="form-group radio">

          <fieldset class="form-group radio">
            <div class="inline cf">
              <div class="option">
                <label for="defence_request_interview_confirm">
                  <input name="defence_request[interview]" value="confirm" id="defence_request_interview_confirm" type="radio">
                  Confirm attendance
                </label>
              </div>
              <div class="option">
                <label for="defence_request_interview_delay">
                  <input name="defence_request[interview]" value="delay" id="defence_request_interview_delay" type="radio">
                  Request delay
                </label>
              </div>
            </div>
          </fieldset>

          <div class="panel-indent" data-show-when="defence_request_interview_delay">
            <p>Please call custody on <span>020 3456 7890</span></p>
          </div>
        </div>

      </form>
      

      <h3>Attending solicitor</h3>
      <dl class="labels">
        <dt>Solicitor</dt>
        <dd>Arrabella Moffat-Clarkson</dd>
        <dt>Mobile number</dt>
        <dd>07123 456789</dd>
        <dt>Firm</dt>
        <dd>Tuckers, Nottingham, 01234 567890</dd>
      </dl>

      <p><a href="#">Swap</a></p>

      <!-- begin bit copied from existing interview tab -->
      <div class="location">
        <h3>Location</h3>
        <p>Maperley Custody Suite, Carrington Street, Nottingham, <%= link_to "SE27 9NA", "#" %></p>
      </div>

      <h3>Contacts</h3>
      <dl class="labels contacts">
        <dt>Custody officer</dt> <dd>Made up name</dd>
        <dt>Custody suite contact number</dt> <dd> <tel>000 0000 0000</tel> </dd>

        <dt>Investigating officer</dt> <dd>Made up name</dd>
        <dt>Investigating officer mobile</dt> <dd> <tel>000 0000 0000</tel> </dd>
      </dl>
      <!-- end bit copied from existing interview tab -->

    </div>


    <div id="case-details">
      <section class="case-details">
        <h3 class="nonjs">Detention details</h3>
        
        <dl class="labels inline">
          <dt>Custody number</dt>
          <dd>123</dd>
          <dt>Arrest time </dt>
          <dd>21:00 8 June 2015</dd>
          <dt>Arrival time</dt>
          <dd>22:00 8 June 2015</dd>
          <dt>Detention authorised time</dt>
          <dd>22:00 9 June 2015</dd>

          <dt>Offences</dt>
          <dd>Failure to register on Sex Offender list, Breach of restraining act, Drunk and disorderly</dd>
          <dt>Circumstances of arrest</dt>
          <dd>Caught wandering around Tesco in disoriented state, became violent when questioned.</dd>
          <dt>Fit for interview</dt>
          <dd>No</dd>
          <dt>Reason</dt>
          <dd>Drunk, will sleep it off until the morning</dd>
          <dt>Comments</dt>
          <dd>Unlikely to be questioned today, in cell sleeping. Under the influence of drugs. Needs a medical examination.</dd>
        </dl>

      </section>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="status status-accepted">
    <h2>
      Accepted
      <span class="time"><i class="icon-time"></i>18:23:16</span>
    </h2>
  </div>
<% end %>
