<% content_for :interview_start_time do %>
  <p>The interview start time for a defence request you are assigned to has been changed, it is
    now:<%= @defence_request.interview_start_time.strftime '%R' %></p>
  <%= link_to t('view_the_case_details'), custody_suite_defence_request_url(@defence_request) %>
<% end %>
