<h1>Check the request</h1>

<p>Check the details below to make sure they are correct. Update any incorrect details, then submit the request.</p>

<%= render 'shared/error_messages', object: @defence_request %>

<%= form_for [:custody_suite, @defence_request_form], builder: LabellingFormBuilder do |f| %>
    <%= render('custody_suite/defence_requests/form_partials/main', f: f) %>
<% end if @policy.edit? %>
