/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require govuk_elements_extensions
 */

.phase-banner {
  background-color: #d53880;
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3;
}

fieldset.time-select select {
  display: inline;
}

.panel {
  border: 1px solid #bfc1c3;
  padding-top: 45px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.solicitor_results_list {
  padding-left: 14px;
  margin-top: 60px;
  z-index: 1;
}

td.actions {
  text-align: center;
}

[data-fn="btn-solicitor-results-close"] {
  right: 20px;
  z-index: 10;
}

.solicitor_result {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
}

.flash.success {
  background-color: #FFE1E1;
  border: 3px red solid;
}

a.user-links {
  color: white;
  font-size: 0.8em;
  float: right;
  padding-left: 5px;
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

h3.dashboard {
  float: left;
  padding-top: 20px;
}

h5.user-role {
  color: white;
  display: inline;
  font-weight: 800;
  float: right;
  margin: -1px;
}

.hour {
  width: 2.75em;
}

.minute {
  width: 2.75em;
}

.day {
  width: 2.75em;
}

.month {
  width: 2.75em;
}

.year {
  width: 4.25em;
}

.age {
  width: 4.25em;
}

.custody-number {
  width: 40%;
}

.date_field_wrapper {
  display: inline-block;
  margin-right: 1em;
}

.time_field_wrapper {
  display: inline-block;
  margin-right: 1em;
}

.text-field {
  text-transform: none;
  border: 1px solid #bbb;
  margin: 0 0 1em;
  padding: 0.5em;
}

.text-field-wide {
  width: 80%;
}

.solicitor_search_wrapper {
  border-left: #bfc1c3 solid 4px;
  padding: 0 0 0 14px;
  margin-bottom: 1em;
  clear: both;
}

.search-text-field {
  width: 80%;
  margin-bottom: 0;
  margin-right: 14px;
}

.hidden {
  display: none;
}

tr.accepted_defence_request {
  border-left: #F47738 4px solid;
}

tr.created_defence_request {
  border-left: #912B88 4px solid;
}

tr.open_defence_request {
  border-left: #D53880 4px solid;
}

//tr.accepted_defence_request {
//  border-left: #F47738 4px solid;
//  background-color: rgba(242, 118, 56, 0.18);
//}
//
//tr.created_defence_request {
//  border-left: #912B88 4px solid;
//  background-color: rgba(143, 43, 134, 0.17);
//}
//
//tr.open_defence_request {
//  border-left: #D53880 4px solid;
//  border-left: rgba(212, 57, 129, 0.18);
//}

table.dashboard {
  width: 100%;
}

table.dashboard th {
  font-size: 15px;
}

table.dashboard td {
  font-size: 15px;
  white-space: nowrap;
  width: 10px;
}

table.dashboard td.actions {
  font-size: 15px;
  white-space: normal;
}

table.dashboard td.sol-name {
  white-space: normal;
}

table.dashboard td.det-name {
  white-space: normal;
}

table.dashboard td.allegation {
  white-space: normal;
}

table.dashboard td.gender {
  text-align: center;
}

table.dashboard td.adult {
  text-align: center;
}

table.dashboard tr {
  font-size: 15px;
  white-space: nowrap;
  width: 10px;
}

.form-links {
  display: inline-block;
  padding-top: 14px;
}
