@import "colours";

$submitted-defence-request: #FFBF47;
$accepted-defence-request: #912B88;
$accepted-defence-request-tint: #e3cae1;
$completed-defence-request: #28A197;
$sidebar-background: #e6e6e6;
