@import "colours";
@import "elements/elements-typography";
@import "grid_layout";

table.dashboard {
  width: 100%;
  th { font-size: 15px; }

  td {
    font-size: 15px;
    white-space: nowrap;
    width: 10px;

    &.actions {
      font-size: 15px;
      white-space: normal;
    }

    &.sol-name, &.det-name, &.offences { white-space: normal; }
    &.gender, &.adult { text-align: center; }
  }

  tr {
    font-size: 15px;
    white-space: nowrap;
    width: 10px;
  }
}

ul.tabs {
  width: 100%;
  list-style: none;
  margin-left: 0;

  li {
    @include media(mobile) {
      @include grid-column(1/2, $full-width: mobile);
    }
    @include media(desktop) {
      @include grid-column(1/3);
    }
  }

  li {
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #000;
    height: 50px;
    line-height: 50px;
    a {
      font-size: 17px;
      padding: 10px;
    }
  }
  li.filler{
    @include media(mobile) {
      display: none;
    }
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
  }
  li.active_tab {
    border:  1px solid #000;
    border-bottom: 0;
  }
  li.active_tab {
    border:  1px solid #000;
    border-bottom: 0;
  }

  li a:hover {
    color: $grey-1;
    text-decoration: none;
  }
  .active_tab a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: #000;
    height: 30px;
  }
}


.form-links {
  display: inline-block;
  padding-top: 14px;
}

.defence-requests {
  ul {
    list-style: none;
    margin: 0;


    li {
      @include media(tablet) {
        @include grid-column(1/2);
      }

      @include media(desktop) {
        @include grid-column(1/3);
      }
    }

    $detail-button-width: $gutter-two-thirds;

    .defence-request-box {
      background: $grey-3;
      padding: $gutter-half;
      position: relative;
    }

    .detail-link {
      background: image-url('chevron-right_govuk-blue_24.png') center no-repeat;
      display: block;
      width: $detail-button-width;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }

    dl {
      margin-right: $detail-button-width;

      dd.name {
        @include bold-24();
      }
      dd.offences {
        @include bold-19();
      }
      dd.time-of-arrival {
        float: right;
        color: $grey-1;
      }

      &.time-field {
        background: $white;
        padding: $gutter-one-quarter;
        border: 1px solid $grey-2;
        margin: $gutter-one-quarter ($gutter-half + $detail-button-width) $gutter-one-quarter $gutter-half;

        dt {
          display: inline-block;
          padding-right: $gutter-one-quarter;
        }
        dt:after {
          content: ":";
        }
        dd {
          display: inline-block;
        }
      }
    }
  }
}