@import "colours_extensions";
@import "elements/elements-typography";
@import "grid_layout";

@mixin dashboard-dr {
  width: 100%;
  border: 1px solid #dee0e2;

  td {
    vertical-align: top;
    position: relative;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .detainee {
    padding-top: 0;
    width: 35%;
    height: 100%;
    .name {
      font-weight: bolder;
      font-size: 2em;
      margin-bottom: 0.2em;

      .vulnerable {
        vertical-align: middle; // use if px not supported
        vertical-align: 6px;
      }
    }
    .offences {
      font-weight: bold;
    }
    .more {
      color: $notify;
    }
    .custody-number {
      white-space: nowrap;
    }
    padding-bottom: 1em;
  }

  .firm, .custody-suite {
    padding-top: 0;
    width: 30%;
    .name {
      font-size: 2em;
      margin-bottom: 0.2em;
      font-weight: bold;
    }
    .tel {
      margin-top: 0.2em;
    }
    .pending {
      font-size: 2em;
      color: $grey-1;
    }

    .arrival {
      width: 60%;
      border:  1px solid #000;
      padding-left: 10px;
      .arriving-text {
        font-size: 2em;
        color: $grey-1;
        margin: 0;
      }
      .time {
        margin: 0;
        font-size: 2em;
      }
      .date {
        margin: 0;
        font-size: 2em;
      }
    }
  }

  .status {
    width: 20%;
    .state{
      font-size: 2em;
      margin-bottom: 0.2em;
    }
    .dscc-number {
      margin-top: 0.2em;
    }
    padding-top: 0;
  }

  .detainee-container {
    height: 100%;
    margin-left: 1em;
    padding-right: 0;
    padding: 0 0 0 15px;
  }

  .submitted {
    border-left: 6px solid $submitted-defence-request;
  }

  .accepted {
    border-left: 6px solid $accepted-defence-request;
  }

  .completed {
    border-left: 6px solid $completed-defence-request;
  }

  .actions {
    vertical-align: middle;
    a {
      padding: 0 0 0 0 0;
      font-size: 4em;
      color: #0099FF;
      text-decoration: none;
    }
    width: 1%;

    .notifications {
      position: absolute;
      right: -10px;
      top: -6px;
      padding: 3px 14px 2px;
      border-radius: 6px;
      background-color: $notify;
      color: $white;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .interview-container {
    padding-left: 15px;
    margin-left: -15px;

    &.notify {
      padding-left: 9px;
      border-left: 6px solid $notify;
    }
  }
  .interview {
    position: relative; // needed for IE6 to show borders
    border:  1px solid $black;
    &.not-set {
      border: 1px solid $grey-2;
    }
    padding: 10px;
    .interview-text {
      font-size: 2em;
      color: $grey-1;
      margin: 0;
    }
    .time {
      margin: 0;
      font-size: 2em;
    }
    .date {
      margin: 0;
      font-size: 1.4em;
    }
  }

  .solicitor-name {
    font-size: 1.25em;
  }

  .pace-clock {
    padding-top: 0;
    font-size: 2em;
    color: $clock;
  }

  &.clickable-row-active {
    cursor: pointer;
  }

  &.grey {
    background: $grey-4
  }
}

.new_defence_request {
  margin-top: 3em;
}

table.dashboard {
  width: 100%;
  th { font-size: 15px; }

  td {
    font-size: 15px;
    white-space: nowrap;
    width: 10px;
    padding-bottom: 0;

    &.actions {
      font-size: 15px;
      white-space: normal;
    }

    &.sol-name, &.det-name, &.offences { white-space: normal; }
    &.gender, &.adult { text-align: center; }
  }

  tr {
    font-size: 15px;
    white-space: nowrap;
    width: 10px;
  }
}

.form-links {
  display: inline-block;
  padding-top: 14px;
}

.cso-defence-requests, .solicitor-admin-defence-requests {
  width: 100%;

  table {
    height: 100%
  }

  .dashboard-dr {
    @include dashboard-dr;
  }

  .separator td {
    height: 1em;
    padding: 0;
    border: none;
  }
}

.cso-defence-requests {
  thead {
    th:first-child {
      padding-left: 37px;
    }
  }
}

.solicitor-admin-defence-requests {
  thead {
    th:first-child {
      padding-left: 31px;
    }
  }
}

.defence-requests {
  ul {
    list-style: none;
    margin: 0;

    li {
      @include media(tablet) {
        @include grid-column(1/2);
      }

      @include media(desktop) {
        @include grid-column(1/3);
      }
    }

    $detail-button-width: $gutter-two-thirds;

    .defence-request-box {
      background: $grey-3;
      padding: $gutter-half;
      position: relative;
    }

    .defence-request-box-cso {
      list-style: none;

      dt { float: left }
      dd { float: left }
    }

    .detail-link {
      background: image-url('chevron-right_govuk-blue_24.png') center no-repeat;
      display: block;
      width: $detail-button-width;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }

    dl {
      margin-right: $detail-button-width;

      dd.name {
        @include bold-24();
      }
      dd.offences {
        @include bold-19();
      }
      dd.time-of-arrival {
        float: right;
        color: $grey-1;
      }

      &.time-field {
        background: $white;
        padding: $gutter-one-quarter;
        border: 1px solid $grey-2;
        margin: $gutter-one-quarter ($gutter-half + $detail-button-width) $gutter-one-quarter $gutter-half;

        dt {
          display: inline-block;
          padding-right: $gutter-one-quarter;
        }
        dt:after {
          content: ":";
        }
        dd {
          display: inline-block;
        }
      }
    }
  }
}
