@import "colours";
@import "elements/elements-typography";
@import "grid_layout";

.solicitor-results-list {
  padding-left: 14px;
  margin-top: 60px;
  z-index: 1;
}

.solicitor-result {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
}

.hour {
  width: 2.75em;
}

.minute {
  width: 2.75em;
}

.day {
  width: 2.75em;
}

.month {
  width: 2.75em;
}

.year {
  width: 4.25em;
}

.custody-number {
  width: 40%;
}

.button.time-at {
  width: 250px;
  @include core-24();
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
}

.not-given-check {
  margin-bottom: 0px;
}

.draft-actions {
  margin-top: $gutter;
}

.edit-link {
  clear: both;
  display: block;
  margin-top: $gutter-half;
}

h2.line-above {
  padding-top: $gutter-half;
  border-top: 1px solid $grey-2;
}
