@import "colours";
@import "elements/elements-typography";
@import "grid_layout";

.solicitor-results-list {
  padding-left: 14px;
  margin-top: 60px;
  z-index: 1;
}

.solicitor-result {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
}

.hour {
  width: 2.75em;
}

.minute {
  width: 2.75em;
}

.day {
  width: 2.75em;
}

.month {
  width: 2.75em;
}

.year {
  width: 4.25em;
}

.age {
  width: 4.25em;
}

.custody-number {
  width: 40%;
}

.button.time-at {
  width: 250px;
  @include core-24();
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
}

dl.time-at {
  background: $white;
  padding: $gutter-one-quarter;
  border: 1px solid $grey-1;
  margin: $gutter-one-quarter 0px;
  max-width: 350px;

  dt {
    @include bold-24();
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    padding-left: $gutter-one-quarter;
  }
  dd {
    @include bold-24();
    display: inline-block;
  }
}

.not-given-check {
  margin-bottom: 0px;
}
