dl.labels {
  dt.notify {
    margin-left: 0;
  }

  dt.notify-notification {
    float: none;
    clear: both;

    &:after {
      content: "";
    }
  }

  dd {
    float: none;
    display: inline-block;
  }
}

.tabs-nav {
  border-bottom: none;
  background: image-url('black_border.gif') left bottom repeat-x;
}

.js-tabs .tabs-nav {
  display: none;
}

.grid-row {
  margin-left: 0;
  width: 960px;
}

.column-three-quarters {
  padding-left: 0;
  width: 701px;
}

.column-quarter {
  width: 213px;
}

.column-full-width {
  padding-left: 0;
  padding-right: 0;
  width: 960px;
}

.date-field-wrapper {
  float: left;
}
