dl.labels {
  dt.notify-notification {
    float: none;
    clear: both;

    &:after {
      content: "";
    }
  }

  dd {
    float: none;
    display: inline-block;
  }
}

.grid-row {
  margin-left: -15px;
  width: 975px;
}

.column-three-quarters {
  padding-left: 15px;
  width: 701px;
}

.column-quarter {
  width: 213px;
}

.column-full-width {
  padding-left: 15px;
  padding-right: 0;
  width: 960px;
}

.date-field-wrapper {
  float: left;
}
