<div id='main-form-body'>
  <%= render('custody_suite/defence_requests/form_partials/solicitor', f: f) %>

  <% if @part.nil? || @part == "detainee-details" %>
      <%= render('custody_suite/defence_requests/form_partials/detainee', f: f) %>
  <% end %>

  <% if @part.nil? || @part == "case-details" %>
      <%= render('custody_suite/defence_requests/form_partials/case', f: f) %>
  <% end %>

  <%= render('custody_suite/defence_requests/form_partials/form_actions', f: f) %>
</div>
